.card-boot {
  color: white;
  font-weight: bold;
}
.blue {
  color: #323c52;
}
.white {
  color: white;
}

/* DEBUG */
.red {
  background-color: red;
  min-height: 100px;
}

.azure {
  background-color: #00c79f;
}

.orange {
  background-color: orange;
  height: 30px;
  border: solid black 1px;
}
.mar {
  margin-top: 50px;
}
