.card-boot {
  color: white;
}
.blue {
  color: #323c52;
}
.white {
  color: white;
}
.jumbo {
  background-image: url(img/avatar.svg);
}

header .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
header .navbar-light .navbar-nav .nav-link {
  color: white;
}
header {
  background-color: #323c52;
}
/* DEBUG */
.red {
  background-color: red;
  min-height: 100px;
}

.azure {
  background-color: #00c79f;
}
